<div style="height: 20%; margin-bottom: 30px" class="nav-header">
  <div class="container-fluid top-menu-main">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="menu-main-top">
            <div class="menu-main">
              <div class="logo-app">
                <a href="/">
                  <img src="./assets/images/logo.ico" alt="logo" />
                </a>
              </div>
              <a *ngFor="let i of categoryTop" [routerLink]="['/danh-muc',i.category]" class="menu-item">
                <p class="text-item">{{i.category}}</p>
              </a>
            </div>
            <div class="search">
              <input [(ngModel)]="titleSearch"  id="input_search" #title type="text" placeholder="Tìm kiếm..." />
              <div class="search-icon">
                <a style="color: #ffffff" [routerLink]="['/tim-kiem', titleSearch]">
                  <fa-icon [icon]="faSearch"></fa-icon>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="background-color: #2e2e2e" class="container-fluid bot-menu-main">
    <div class="container menu-bot-item">
      <a class="menu-item" href="/">
        <p class="text-item">
          <fa-icon [icon]="faHome"></fa-icon>
        </p>
      </a>
        <a *ngFor="let a of categoryMid" [routerLink]="['/danh-muc', a.category]">
          <p>{{a.category}}</p>
        </a>
    </div>
  </div>
</div>
<div class="nav-mobile">
  <div class="menu-item">
    <div class="nav-item">
      <a href="/quoc-te">
        <p>quốc tế</p>
      </a>
      <a href="/ban-doc">
        <p>bạn đọc</p>
      </a>
    </div>
    <div class="nav-item">
      <a href="/kinh-te">
        <p>kinh tế</p>
      </a>
      <a href="/suc-khoe">
        <p>sức khoẻ</p>
      </a>
    </div>
    <div class="nav-item">
      <a href="/giao-duc">
        <p>giáo dục</p>
      </a>
      <a href="/phap-luat">
        <p>pháp luật</p>
      </a>
    </div>
    <div class="nav-item">
      <a href="/the-thao">
        <p>thể thao</p>
      </a>
      <a href="/cong-nghe">
        <p>công nghệ</p>
      </a>
    </div>
    <div class="nav-item">
      <a href="/diem-den">
        <p>điểm đến</p>
      </a>
      <a href="/dia-oc">
        <p>địa ốc</p>
      </a>
    </div>
    <div class="nav-item">
      <a href="/phu-nu">
        <p>phụ nữ</p>
      </a>
      <a href="/ly-tuong">
        <p>lý tưởng sống</p>
      </a>
    </div>
    <div class="nav-item">
      <a href="/doc-quyen">
        <p>độc quyền</p>
      </a>
      <a href="/noi-thang">
        <p>nói thẳng</p>
      </a>
    </div>
    <div class="nav-item">
      <a href="/giai-tri">
        <p>giải trí</p>
      </a>
      <a href="/thi-truong">
        <p>thị trường</p>
      </a>
    </div>
  </div>
</div>
<!-- <div class="over lay-nav"></div> -->
<!-- <div class="container-fluid bg-faded fh5co_padd_mediya padding_786">
  <div class="container padding_786">
    <nav class="navbar navbar-toggleable-md navbar-light ">
      <button class="navbar-toggler navbar-toggler-right mt-3" type="button" data-toggle="collapse"
              data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation"><span class="fa fa-bars"></span></button>
      <a class="navbar-brand" href="#"><img src="./assets/images/logo.png" alt="img" class="mobile_logo_width"/></a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item ">
            <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="blog.html">Blog <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="single.html">Single <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdownMenuButton2" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">World <span class="sr-only">(current)</span></a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink_1">
              <a class="dropdown-item" href="#">Action in</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdownMenuButton3" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">Community<span class="sr-only">(current)</span></a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink_1">
              <a class="dropdown-item" href="#">Action in</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="Contact_us.html">Contact <span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div> -->
