
.headertop{
  background-color: #005689;
  padding-left: 20px;
}
.headertop .container .row .col-12 .text-center .fh5co_display_table {
  margin-top: 14px;
}
.headertop .container .row .col-12 .text-center .fh5co_display_table .fh5co_verticle_middle i{
  color: #FFFFFF;

}


