
<div class="container-fluid footer-main">
  <div class="container footer-top">
    <div class="logo-footer">
      <img src="./assets/images/logo.ico" alt="logo" />
    </div>
  </div>
  <div class="container footer-mid">
    <div class="footer-bot-item">
       <a *ngFor="let i of categoryFooter" [routerLink]="['/danh-muc', i.category,]">
        <p style="font-size: 9px;">{{i.category}}<p>
      </a> 
      
      <!-- <a href="/quoc-te">
        <p>quốc tế</p>
      </a>
      <a href="/ban-doc">
        <p>bạn đọc</p>
      </a>
  
      <a href="/kinh-te">
        <p>kinh tế</p>
      </a>
      <a href="/suc-khoe">
        <p>sức khoẻ</p>
      </a>
  
      <a href="/giao-duc">
        <p>giáo dục</p>
      </a>
      <a href="/phap-luat">
        <p>pháp luật</p>
      </a>
  
      <a href="/van-nghe">
        <p>văn nghệ</p>
      </a>
      <a href="/giai-tri">
        <p>giải trí</p>
      </a>
  
      <a href="/the-thao">
        <p>thể thao</p>
      </a>
      <a href="/cong-nghe">
        <p>công nghệ</p>
      </a>
      <a href="/phu-nu">
        <p>phụ nữ</p>
      </a> -->
    </div>
  </div>

  <div class="container footer-bot">
    <div class="row">
      <div class="col-sm-6">
        <div class="item-text">
          <p>Trụ sở chính: Phở 24/7</p>
          <p>Tổng phụ trách: Trần Thúc Kháng</p>
          <p>Quản lý: Đặng Văn Kiệt</p>
          <p>Chịu trách nhiệm nội dung: Trần Hữu Thắng</p>
          <p>TP HCM: Tầng 20, Tòa nhà Center Building - Hapulico Complex, Số 1 Nguyễn Huy Tưởng, Thanh Xuân, tp.HCM.</p>
          <p>
            <span>Email: </span><span style="color: red">ifoAFC@gmail.com</span>
          </p>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="item-text">
          <h5 style="color: #ffffff">LIÊN HỆ QUẢNG CÁO</h5>
          <p>Phụ trách: Trần Thúc Kháng</p>
          <p>© Copyright 2010 - 2021: Trần Thúc Kháng</p>
          <p>Hotline: 0912484207</p>
          <p>
            <span>Email: </span
            ><span style="color: red">khangtran0944@gmail.com</span>
          </p>
          <p>
            Hà Nội: Tầng 20, Tòa nhà Center Building - Hapulico Complex, Số 1 Nguyễn Huy Tưởng, Thanh Xuân, Hà Nội.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
