<app-header></app-header>
<div class="container-fluid pb-4 pt-5">
  <div class="container animate-box">
    <div>
      <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">Tin Mới Nhất</div>
    </div>
    <div id="slider2">
      <div class="row">
        <div style="margin-bottom: 1rem" *ngFor="let n of data2" class="col-sm-3">
          <a [routerLink]="['chi-tiet', n.link]">Bấm dô đây đi để xem nè</a>
          <div  class="card" style="width: 17rem;">
            <img class="card-img-top" src="{{n.thumbnail}}" alt="Card image cap">
            <div style="height: 6rem" class="card-body">
              <p class="card-text">{{n.title}}</p>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>

<div  class="container-fluid pb-4 pt-4 paddding">
  <div class="container paddding">
    <div class="row mx-0">
      <div class="col-md-8 animate-box" data-animate-effect="fadeInLeft">
        <div>
          <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">Tin Mới</div>
        </div>
        <div *ngFor="let n of data" class="row pb-4">
          <div class="col-md-5">
            <div class="fh5co_hover_news_img">
              <div class="fh5co_news_img"><img src="{{n.thumbnail}}" alt=""/></div>
              <div></div>
            </div>
          </div>
          <div class="col-md-7">
            <a style="font-size: 19px" href="#" class="fh5co_magna py-2">{{n.title}}</a>
<!--            <div  class="fh5co_consectetur"></div>-->
<!--            <div  class="fh5co_consectetur"></div>-->
          </div>
        </div>
      </div>
      <div class="col-md-3 animate-box" data-animate-effect="fadeInRight">
        <div>
          <div style="width: 135%" class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">Tags</div>
        </div>
        <div class="clearfix"></div>
        <div style="width: 142%;" class="fh5co_tags_all">
          <a style="width: 110px;" href="#" class="fh5co_tagg">Trong Nước</a>
          <a style="width: 110px;" href="#" class="fh5co_tagg">Quốc Tế</a>
          <a style="width: 110px;" href="#" class="fh5co_tagg">Công Đoàn</a>
          <a style="width: 110px;" href="#" class="fh5co_tagg">Bạn Đọc</a>
          <a style="width: 110px;" href="#" class="fh5co_tagg">Kinh Tế</a>
          <a style="width: 110px;" href="#" class="fh5co_tagg">Sức Khỏe</a>
          <a style="width: 110px;" href="#" class="fh5co_tagg">Giáo Dục</a>
          <a style="width: 110px;" href="#" class="fh5co_tagg">Pháp Luật</a>
          <a style="width: 110px;" href="#" class="fh5co_tagg">Văn Nghệ</a>
          <a style="width: 110px;" href="#" class="fh5co_tagg">Giải Trí</a>
          <a style="width: 110px;" href="#" class="fh5co_tagg">Thể Thao</a>
          <a style="width: 110px;" href="#" class="fh5co_tagg">Công Nghệ</a>
        </div>
        <div>
          <div class="fh5co_heading fh5co_heading_border_bottom pt-3 py-2 mb-4">Thời Sự</div>
        </div>
        <div *ngFor="let n of data3" class="row pb-3">
          <div class="col-5 align-self-center">
            <img src="{{n.thumbnail}}" alt="img" class="fh5co_most_trading"/>
          </div>
          <div class="col-7 paddding">
            <div style="font-size: 12px;font-weight: bold" class="most_fh5co_treding_font"> {{n.title}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
