
<div class="container-fluid  banner-top mt-4">
  <div class="container d-flex  banner-all">
<!--Banner all use for responsive -->

    <div  class="flex-item-left">
      <div style="border: none;border-radius: 0px;" class="card bg-dark text-white">
        <img style="opacity: 0.5;height: 416px" class="card-img" src="{{data[0].thumbnail}}" alt="Card image">
        <div class="card-img-overlay position-absolute">
          <h3 class="featured-title">{{data[0].title}}</h3>
          <p  class="card-text featured-text">{{data[0].pubDate}}</p>
        </div>
      </div>
    </div>
    <div class="d-flex flex-column flex-item-right">
      <div class="bg-danger flex-item1">
        <div style="border: none;border-radius: 0px;" class="card bg-dark text-white">
          <img style="height: 207px;opacity: 0.5;border-radius: 0px;" src="{{data[1].thumbnail}}" class="card-img" alt="...">
          <div class="card-img-overlay">
            <h3 style="font-size: 19px;" class="card-title featured-title">
              {{data[1].title}}
            </h3>
            <p style="font-size: 13px;" class="card-text featured-text">
              {{data[1].pubDate}}
            </p>
          </div>
        </div>
      </div>
      <div class="bg-dark flex-item2">
        <div style="border: none;border-radius: 0px;" class="card bg-dark text-white">
          <img style="height: 207px;opacity: 0.5;border-radius: 0px;" src="{{data[2].thumbnail}}" class="card-img" alt="...">
          <div class="card-img-overlay">
            <h3 style="font-size: 19px;" class="card-title featured-title">
              {{data[2].title}}
            </h3>
            <p style="font-size: 13px;" class="card-text featured-text">
              {{data[2].pubDate}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt-4">
  <div class="container d-flex two-column-flex">
<!--start left column-->
    <div  class="left-column container d-flex flex-wrap">
      <div class="left-column-item" *ngFor="let d of data | slice:2:11">
        <a [routerLink]="['chi-tiet',title, d.link]">
        <div sclass="card">
          <img width="365px" height="208px" src="{{d.thumbnail}}">
          <div class="mt-3">
            <h5 class="card-title">{{d.title}}</h5>
            <p class="text-secondary font-italic">{{d.pubDate}}</p>
          </div>
        </div>
        </a>
      </div>
    </div>
<!--end left column-->

<!--Start Rigt column-->
    <div class="right-column container d-flex flex-column flex-wrap">
      <div style="height: 8%;" class="social-media w-100">
        <h3 class="text-dark font-weight-bold">Follow Us</h3>
        <div class="d-flex flex-column w-100 h-100">
          <div style="height: 35%;" class="d-flex flex-row w-100">
            <a class="btn" style="background-color: #3b5998;width: 15%;margin-right: 2%;" role="button"><i class="fa fa-facebook-f text-white"></i></a>
            <a class="btn" style="background-color: #55acee;width: 15%;margin-right: 2%;" role="button"><i class="fa fa-twitter text-white"></i></a>
            <a class="btn" style="background-color: #dd4b39;width: 15%;margin-right: 2%;" role="button"><i class="fa fa-google text-white"></i></a>
            <a class="btn" style="background-color: #ac2bac;width: 15%;margin-right: 2%;" role="button"><i class="fa fa-instagram text-white"></i></a>
            <a class="btn" style="background-color: #0082ca;width: 15%;margin-right: 2%;" role="button"><i class="fa fa-linkedin text-white"></i></a>
            <a class="btn" style="background-color: #c61118;width: 15%;" role="button"><i class="fa fa-pinterest text-white"></i></a>
          </div>
        </div>
      </div>
      <div style="height: 90%" class="list-news w-100">
<!-- test-->
        <button style="height: 40px;font-size: 20px;font-weight: bold" class="btn-danger btn-outline- w-50">Thời Sự</button>
        <div *ngFor="let n of data3" class="row pb-2 pt-1" style="margin: 0;height: 120px; background: #eff2eb">
          <div class="col-5 h-100 bg-danger" style="width: 150px;padding: 0;">
            <img  src="{{n.thumbnail}}" alt="img" class="fh5co_most_trading w-100 h-100"/>
          </div>
          <div class="mini-title col-sm-7 paddding pt-sm-0">
            <div style="font-size: 15px;font-weight: bold;margin-top: -3px;" class="ml-2"> {{n.title}}</div>
          </div>
        </div>
<!--End test-->
      </div>
    </div>
<!--End Right column-->
  </div>
</div>


<!--test-->
<div class="container-fluid pb-4 pt-5">
  <div class="container animate-box">
    <div>
      <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">
      Tin Mới Nhất
      </div>
    </div>
    <div class="owl-carousel owl-theme" id="slider2">
      <div  class="item px-2">
        <div class="fh5co_hover_news_img">
          <div class="fh5co_news_img"><img src="{{data2[0].thumbnail}}" alt=""/></div>
          <div>
            <a href="#" class="d-block fh5co_small_post_heading">
              <span class="">{{data2[0].title}}
              </span></a>
            <div class="c_g"><i class="fa fa-clock-o"></i> {{data2[0].pubDate}}</div>
          </div>
        </div>
      </div>
      <div  class="item px-2">
        <div class="fh5co_hover_news_img">
          <div class="fh5co_news_img"><img src="{{data2[1].thumbnail}}" alt=""/></div>
          <div>
            <a href="#" class="d-block fh5co_small_post_heading">
              <span class="">{{data2[1].title}}
              </span></a>
            <div class="c_g"><i class="fa fa-clock-o"></i> {{data2[1].pubDate}}</div>
          </div>
        </div>
      </div>
      <div  class="item px-2">
        <div class="fh5co_hover_news_img">
          <div class="fh5co_news_img"><img src="{{data2[2].thumbnail}}" alt=""/></div>
          <div>
            <a href="#" class="d-block fh5co_small_post_heading">
              <span class="">{{data2[2].title}}
              </span></a>
            <div class="c_g"><i class="fa fa-clock-o"></i> {{data2[2].pubDate}}</div>
          </div>
        </div>
      </div>
      <div  class="item px-2">
        <div class="fh5co_hover_news_img">
          <div class="fh5co_news_img"><img src="{{data2[3].thumbnail}}" alt=""/></div>
          <div>
            <a href="#" class="d-block fh5co_small_post_heading">
              <span class="">{{data2[3].title}}
              </span></a>
            <div class="c_g"><i class="fa fa-clock-o"></i> {{data2[3].pubDate}}</div>
          </div>
        </div>
      </div>
      <div  class="item px-2">
        <div class="fh5co_hover_news_img">
          <div class="fh5co_news_img"><img src="{{data2[4].thumbnail}}" alt=""/></div>
          <div>
            <a href="#" class="d-block fh5co_small_post_heading">
              <span class="">{{data2[4].title}}
              </span></a>
            <div class="c_g"><i class="fa fa-clock-o"></i> {{data2[4].pubDate}}</div>
          </div>
        </div>
      </div>
      <div  class="item px-2">
        <div class="fh5co_hover_news_img">
          <div class="fh5co_news_img"><img src="{{data2[5].thumbnail}}" alt=""/></div>
          <div>
            <a href="#" class="d-block fh5co_small_post_heading">
              <span class="">{{data2[5].title}}
              </span></a>
            <div class="c_g"><i class="fa fa-clock-o"></i> {{data2[5].pubDate}}</div>
          </div>
        </div>
      </div>
      <div  class="item px-2">
        <div class="fh5co_hover_news_img">
          <div class="fh5co_news_img"><img src="{{data2[6].thumbnail}}" alt=""/></div>
          <div>
            <a href="#" class="d-block fh5co_small_post_heading">
              <span class="">{{data2[6].title}}
              </span></a>
            <div class="c_g"><i class="fa fa-clock-o"></i> {{data2[6].pubDate}}</div>
          </div>
        </div>
      </div>
      <div  class="item px-2">
        <div class="fh5co_hover_news_img">
          <div class="fh5co_news_img"><img src="{{data2[7].thumbnail}}" alt=""/></div>
          <div>
            <a href="#" class="d-block fh5co_small_post_heading">
              <span class="">{{data2[7].title}}
              </span></a>
            <div class="c_g"><i class="fa fa-clock-o"></i> {{data2[7].pubDate}}</div>
          </div>
        </div>
      </div>
      <div  class="item px-2">
        <div class="fh5co_hover_news_img">
          <div class="fh5co_news_img"><img src="{{data2[8].thumbnail}}" alt=""/></div>
          <div>
            <a href="#" class="d-block fh5co_small_post_heading">
              <span class="">{{data2[8].title}}
              </span></a>
            <div class="c_g"><i class="fa fa-clock-o"></i> {{data2[8].pubDate}}</div>
          </div>
        </div>
      </div>
      <div  class="item px-2">
        <div class="fh5co_hover_news_img">
          <div class="fh5co_news_img"><img src="{{data2[9].thumbnail}}" alt=""/></div>
          <div>
            <a href="#" class="d-block fh5co_small_post_heading">
              <span class="">{{data2[9].title}}
              </span></a>
            <div class="c_g"><i class="fa fa-clock-o"></i> {{data2[9].pubDate}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
