<!--<div *ngFor="let n of content">-->
<!--  <p>{{n}}</p>-->
<!--</div>-->
<!--<div *ngFor="let n of imageSrc">-->
<!--  <img src="{{n}}">-->
<!--</div>-->

<app-header></app-header>
<div class="container-fluid pb-4 pt-5">
  <div class="news-detail container animate-box">
    <div>
      <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4"><h4>{{title}}</h4></div>
    </div>
    <div id="slider2">
      <div class="row">
      <div class="col-sm-12">
        <div class="intro-news">
          <h2>{{title_main}}</h2>
          <div class="quote">
            <ul>
              <li style="color: #F75D59; padding-right: 5px;">ANH VIỆT,</li>
              <li>THEO PHÁP LUẬT & BẠN ĐỌC</li>
            </ul>
          </div>
          <div class="action">
            <div class="social">
              <ul>
                <li>
                  <p style="margin-left: 11px;"><fa-icon [icon]="faThumbsUp"></fa-icon></p>
                  <p>Like</p>
                  <p style="margin-right: 11px">201</p>
                </li>
                <li>
                  <p>Chia sẽ</p>
                </li>
              </ul>
            </div>
            <div class="voice">
              <div class="void-item">
                <p><fa-icon [icon]="faPlay"></fa-icon></p>
                <p>BÁO NÓI</p>
                <p>-</p>
                <p>4:12</p>
              </div>
            </div>

          </div>
        </div>
        <h5 style="margin-bottom: 20px">{{cover}}</h5>
        <div class="content-body" *ngFor="let n of content">
          <p>{{n}}</p>
        </div>
        <div  style="text-align: center" class="image-body" *ngFor="let n of imageArray">
          <div class="image-item">
            <img src="{{n.src}}">
            <p>{{n.alt}}</p>
          </div>

        </div>
      </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
