<app-header></app-header>
<div style="margin-top: -30px;" class="container">
  <div class="container-fluid pb-4 pt-5">
    <div class="row">
      <div class="col-sm-8">
        <div class="news-detail container animate-box">
          <div>
            <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">
              <h5 style="text-transform: uppercase;">{{ title }}</h5>
            </div>
          </div>
          <div id="slider2">
            <div class="row">
              <div class="col-sm-12">
                <div class="intro-news">
                  <h2>{{ title_main }}</h2>
                  <div class="quote">
                    <ul>
                      <li style="color: #f75d59; padding-right: 5px">
                        ANH VIỆT,
                      </li>
                      <li>THEO PHÁP LUẬT & BẠN ĐỌC</li>
                    </ul>
                  </div>
                  <div class="action">
                    <div class="social">
                      <ul>
                        <li>
                          <p style="margin-left: 11px">
                            <fa-icon [icon]="faThumbsUp"></fa-icon>
                          </p>
                          <p>Like</p>
                          <p style="margin-right: 11px">201</p>
                        </li>
                        <li>
                          <p style="margin: 0 10px">Chia sẽ</p>
                        </li>
                      </ul>
                    </div>
                    <div class="voice">
                      <div class="void-item">
                        <p>
                          <fa-icon [icon]="faPlay"></fa-icon>
                        </p>
                        <p>BÁO NÓI</p>
                        <p>-</p>
                        <p>4:12</p>
                      </div>
                    </div>
                  </div>
                  <h5 style="margin-bottom: 20px;">{{ cover }}</h5>
                  <!-- <p *ngFor="let i of content">{{i}}</p> -->
                  <div class="content-body" *ngFor="let n of content">
                    <p>{{n}}</p>
                  </div>

                  <div
                    style="text-align: center"
                    class="image-body"
                    *ngFor="let n of imageArray"
                  >
                    <div class="image-item">
                      <img src="{{ n.src }}" />
                      <p>{{ n.alt }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="news-cate">
          <div class="title-cover">
            <h5>
              <fa-icon [icon]="faBell" style="color: #ef730d"></fa-icon>
              <span>Tin tức bạn cần biết</span>
            </h5>
          </div>
          <div class="news-cover">
            <div class="news-item" *ngFor="let i of feedRecomment.slice(0,7)">
              <img
                src="{{i.thumbnail}}"
              />
              <h6>{{i.title}}</h6>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>

