*{
  font-family: "Palatino Linotype";
}
.card-horizontal {
  display: flex;
  flex: 1 1 200px;
}
.most-video{
  margin-left: -25px;
}
.ad_tivi{
  margin-top: -275px;
  width: 25%;
  height: 3000px;
  float: right;
  margin-right: 15px;
}
.title-main{
  width: 250px;
  height: 40px;
  text-align: center;
  background-color: lightgrey;
  border-radius: 15px 30px;
  padding-left: 10px;
  margin-bottom: 5px;
  box-shadow: 0 8px 6px -6px black;
}

