<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <h3 style="margin-bottom: 15px" class="title-news">Tin tổng hợp</h3>
    </div>
  </div>
  <div class="row news-header">
    <div class="col-sm-6">
            <div class="news-top news-items hoverBoxshadow">
              <a [routerLink]="['chi-tiet/Tin tổng hợp', eduFeed[0].link]">
                <img src="{{ eduFeed[0].thumbnail }}"/>
                <div>
                  <h5>{{ eduFeed[0].title }}</h5>
                  <p style="color: #000000;">
                    {{cover}}
                  </p>
                </div>
              </a>
            </div>
      <div class="news-bot news-items">
        <div style="padding: 0 5px" class="news-bot-item hoverBoxshadow">
          <a [routerLink]="['chi-tiet/Tin tổng hợp', unionFeed[1].link]">
            <img src="{{ unionFeed[1].thumbnail }}"/>
            <h6>{{ unionFeed[1].title }}</h6>
            <p class="pubDate">{{ unionFeed[1].pubDate }}</p>
          </a>
        </div>
        <div class="news-bot-item hoverBoxshadow">
          <a [routerLink]="['chi-tiet/Tin tổng hợp', unionFeed[2].link]">
            <img src="{{ unionFeed[2].thumbnail }}"/>
            <h6>{{ unionFeed[2].title }}</h6>
            <p class="pubDate">{{ unionFeed[2].pubDate }}</p>
          </a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 news-right-item right-item">
      <div class="row">
        <div style="margin-bottom: 15px; padding: 10px" *ngFor="let i of newsFeed" class="col-sm-6 hoverBoxshadow">
          <a class="hoverLink" [routerLink]="['chi-tiet/Tin mới', i.link]">
            <div class="news-item">
              <img src="{{ i.thumbnail }}"/>
              <h6>{{ i.title }}</h6>
              <p class="pubDate">{{ i.pubDate }}</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="row table-covid">
    <div style="padding: 15px;" class="col-sm-2">
      <div class="logo-item">
        <img src="https://static.mediacdn.vn/nld/Images/solieucovid19-2.png" alt="">
        <p class="date pubDate">Tính từ ngày 27/4</p>
      </div>

    </div>
    <div class="col-sm-10 infor-item">
      <div style="border-bottom: 1px solid #e5e5e5;" class="country">
        <div class="covid-item">
          <h3 class="title ct">CẢ NƯỚC</h3>
        </div>
        <div class="covid-item">
          <p class="ct">Số người mắc</p>
          <h3 style="background-color: #ec4141; color: #ffffff">630.661</h3>
        </div>
        <div class="covid-item">
          <p class="ct">Điều trị khỏi</p>
          <h3 style="background-color: #cae3c7; color: #3ea334">320.621</h3>
        </div>
        <div class="covid-item">
          <p class="ct">Tử vong</p>
          <h3 style="background-color: #e1e1e1; color: #515350">15.987</h3>
        </div>
      </div>
      <div style="border-bottom: 1px solid #e5e5e5;" class="country">
        <div class="covid-item">
          <h3 class="title hcm">TP HCM</h3>
        </div>
        <div class="covid-item">
          <p class="hcm">Số người mắc</p>
          <h3 style="background-color: #ec4141; color: #ffffff">630.661</h3>
        </div>
        <div class="covid-item">
          <p class="hcm">Điều trị khỏi</p>
          <h3 style="background-color: #cae3c7; color: #3ea334">320.621</h3>
        </div>
        <div class="covid-item">
          <p class="hcm">Tử vong</p>
          <h3 style="background-color: #e1e1e1; color: #515350">15.987</h3>
        </div>
      </div>
      <!-- <div style="border-bottom: 1px solid #e5e5e5;" class="country">
        <div style="min-width: 151px;" class="covid-item">
          <h3 class="title hcm">TP HCM</h3>
        </div>
        <div class="covid-item">
          <p class="hcm">Số người mắc</p>
          <h3 style="background-color: #ec4141; color: #ffffff">310.661</h3>
        </div>
        <div class="covid-item">
          <p class="hcm">Điều trị khỏi</p>
          <h3 style="background-color: #cae3c7; color: #3ea334">1530.621</h3>
        </div>
        <div class="covid-item">
          <p class="hcm">Tử vong</p>
          <h3 style="background-color: #e1e1e1; color: #515350">12.987</h3>
        </div>
      </div> -->
    </div>
  </div>

    <div class="news-main">
      <div class="row">
        <div class="col-sm-3">
          <h3 class="title-news">Tin đáng chú ý</h3>
        </div>
      </div>
      <div class="row">
        <div *ngFor="let i of techniqueFeed" class="col-sm-4">
          <a class="hoverLink" [routerLink]="['chi-tiet/Đáng chú ý', i.link]">
            <div class="news-main-item hoverBoxshadow">
              <img src="{{ i.thumbnail}}"/>
              <h6>{{i.title }}</h6>
              <p style="padding-bottom: 5px;" class="pubDate">{{ i.pubDate }}</p>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="news-main">
      <div class="row">
        <div class="col-sm-3">
          <h3 class="title-news">Địa ốc</h3>
        </div>
      </div>
      <div class="row">
        <div *ngFor="let i of estateFeed" class="col-sm-4">
          <a class="hoverLink" [routerLink]="['chi-tiet/Địa ốc', i.link]">
            <div class="news-main-item hoverBoxshadow">
              <img src="{{ i.thumbnail}}"/>
              <h6>{{i.title }}</h6>
              <p style="padding-bottom: 5px;" class="pubDate">{{ i.pubDate}}</p>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="news-main">
      <div class="row">
        <div class="col-sm-3">
          <h3 class="title-news">Điểm đến</h3>
        </div>
      </div>
      <div class="row">
        <div *ngFor="let i of destinationFeed" class="col-sm-4">
          <a class="hoverLink" [routerLink]="['chi-tiet/Điểm đến', i.link]">
            <div class="news-main-item hoverBoxshadow">
              <img src="{{ i.thumbnail}}"/>
              <h6>{{i.title }}</h6>
              <p style="padding-bottom: 5px;" class="pubDate">{{ i.pubDate }}</p>
            </div>
          </a>
        </div>
      </div>
    </div>
<!--  <div class="news-main">-->
<!--    <div class="row">-->
<!--      <div class="col-sm-3">-->
<!--        <h3 class="title-news">Giải trí</h3>-->
<!--      </div>-->
<!--    </div>-->
<!--        <div class="row">-->
<!--          <div *ngFor="let i of relaxFeed" class="col-sm-4">-->
<!--            <a class="hoverLink" [routerLink]="['chi-tiet/Giải trí', i.link]">-->
<!--              <div class="news-main-item hoverBoxshadow">-->
<!--                <img src="{{ i.thumbnail}}"/>-->
<!--                <h6>{{i.title }}</h6>-->
<!--                <p style="padding-bottom: 5px;" class="pubDate">{{ i.pubDate }}</p>-->
<!--              </div>-->
<!--            </a>-->
<!--          </div>-->
<!--        </div>-->
<!--  </div>-->

</div>

<!--Short form -->

<!--End Short form -->
<app-footer></app-footer>
