@mixin news-item1 {
  padding: 0 5px;

  img {
    width: 100%;
    border-radius: 6px;
  }
  h5 {
    font-weight: 600;
    margin-top: 10px;
    font-size: 20px;
  }
  h6 {
    font-weight: 600;
    font-size: 14px;
    margin-top: 5px;
    font-size: 20px;

  }
  p {
    max-height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 40px;
    overflow: hidden;
    font-size: 12px;
  }
  p.pubDate {
    font-style: italic;
  }
}
@mixin box-shadow1() {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
  
  .news-main{
    margin-top: 50px;
    .news-main-item{
      @include news-item1;
      margin-top: 10px;
    }
  }

.hoverBoxshadow:hover {
  @include box-shadow1;
}
.news-header {
  .news-items {
    @include news-item1;
    p {
      max-height: 55px;
      // padding-bottom: 10px;
    }
  }
  //   background-color: pink;
  .news-top {
  }
  .news-bot {
    display: flex;
    justify-content: space-between;
    .news-bot-item {
      width: 46%;
    }
  }
}

@media screen and (min-width: 63.9em) {
  .title-news {
    padding-bottom: 10px;
    border-bottom: 3px solid #ef730d;
  }
  .right-item {
    height: 610px;
  }
  .news-right-item {
    // @include news-item1;
    padding: 0 0;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    .news-item {
      @include news-item1;
      img {
        // height: 130px;
      }
      h6 {
        min-height: 55px;
      }
    }
  }
}

@media screen and (min-width: 46.25em) and (max-width: 63.9em) {
  .title-news {
    font-size: 18px;
    // color: red;
    padding-bottom: 10px;
    border-bottom: 3px solid #ef730d;
  }
  .right-item {
    height: 500px;
  }
  .news-right-item {
    // @include news-item1;
    // background-color: red;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    .news-item {
      @include news-item1;
      img {
        // height: 50px;
      }
      h6 {
        min-height: 55px;
      }
    }
  }
}

@media screen and (max-width: 46.25em) {
  .title-news {
    font-size: 18px;
    padding-bottom: 10px;
    border-bottom: 3px solid #ef730d;
  }
  .news-right-item {
    background-color: red;
    display: none;
  }
  .right-item {
    display: none;
  }
}
