@mixin news-item1 {
  padding: 0 5px;
  padding-top: 5px;

  img {
    width: 98%;
    border-radius: 6px;
  }
  h5 {
    font-weight: 600;
    margin-top: 10px;
    font-size: 20px;
  }
  h6 {
    font-weight: 600;
    font-size: 14px;
    margin-top: 10px;
    font-size: 15px;
    min-height: 50px;
  }
  p {
    max-height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 40px;
    overflow: hidden;
    font-size: 12px;
  }
  p.pubDate {
    font-style: italic;
  }
}
@mixin box-shadow1() {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
a.hoverLink:hover {
  text-decoration: none;
}
@mixin item-covid() {
  display: flex;
  // justify-content: left;
  flex-direction: column;
}

.news-main {
  margin-top: 50px;
  .news-main-item {
    @include news-item1;
    margin-top: 10px;
  }
}

.hoverBoxshadow:hover {
  @include box-shadow1;
  a {
    text-decoration: none;
  }
}
.news-header {
  .news-items {
    @include news-item1;
    p {
      max-height: 55px;
      // padding-bottom: 10px;
    }
  }
  //   background-color: pink;
  .news-top {
  }
  .news-bot {
    display: flex;
    justify-content: space-between;
    .news-bot-item {
      width: 46%;
    }
  }
}

@media screen and (min-width: 63.9em) {
  .table-covid {
    border: 1px solid #d65662;
    border-radius: 10px;
    margin-top: 40px;
    background-color: #f8f8f8;
    .logo-item {
      border-right: 1px solid #e5e5e5;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-right: 10px;
      p {
        text-align: center;
      }
    }

    .infor-item {
      @include item-covid;
      .country {
        flex: 1;
        display: flex;
        justify-content: space-around;
        h3.title {
          min-width: 140px;
        }
        .covid-item {
          display: flex;
          h3 {
            margin: auto 0;
            // font-size: 12px;
            padding: 5px;
            border-radius: 5px;
          }
          p {
            margin: auto 7px;
            font-size: 17px;
          }
          p.ct,
          h3.ct {
            color: #ffa83d;
          }
          p.hcm,
          h3.hcm {
            color: #4ea7f8;
          }
        }
      }
    }
  }
  .title-news {
    padding-bottom: 10px;
    border-bottom: 3px solid #ef730d;
  }
  .right-item {
    height: 610px;
  }
  .news-right-item {
    // @include news-item1;
    padding: 0 0;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    .news-item {
      @include news-item1;
      img {
        // height: 130px;
      }
      h6 {
        min-height: 55px;
      }
    }
  }
}

@media screen and (min-width: 46.25em) and (max-width: 63.9em) {
  .table-covid {
    border: 1px solid #d65662;
    border-radius: 10px;
    margin-top: 40px;
    background-color: #f8f8f8;

    .logo-item {
      border-right: 1px solid #e5e5e5;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-right: 10px;
      img{
        width: 80%;
      }
      p {
        text-align: center;
        front-size: 100px;
        color: red;
      }
      p.date{
        font-size: 10px;
      }
    }

    .infor-item {
      @include item-covid;
      .country {
        flex: 1;
        display: flex;
        justify-content: space-around;
        h3.title {
          min-width: 80px;
          font-size: 15px;
        }
        .covid-item {
          // background-color: red;
          display: flex;
          h3 {
            margin: auto 0;
            // font-size: 12px;
            padding: 5px;
            border-radius: 5px;
            font-size: 15px;
          }
          p {
            margin: auto 7px;
            font-size: 17px;
          }
          p.ct,
          h3.ct {
            color: #ffa83d;
            // font-size: 12px;
          }
          p.hcm,
          h3.hcm {
            color: #4ea7f8;
            // font-size: 12px;
          }
            p.hcm, p.ct{
            font-size: 12px;
            }
        }
      }
    }
  }
  .title-news {
    font-size: 18px;
    // color: red;
    padding-bottom: 10px;
    border-bottom: 3px solid #ef730d;
  }
  .right-item {
    height: 500px;
  }
  .news-right-item {
    // @include news-item1;
    // background-color: red;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    .news-item {
      @include news-item1;
      img {
        // height: 50px;
      }
      h6 {
        min-height: 55px;
      }
    }
  }
}

@media screen and (max-width: 46.25em) {
  .table-covid{
    display: none;
  }
  .title-news {
    font-size: 18px;
    padding-bottom: 10px;
    border-bottom: 3px solid #ef730d;
  }
  .news-right-item {
    background-color: red;
    display: none;
  }
  .right-item {
    display: none;
  }
}
