@mixin formatLink() {
  a {
    color: #ffffff;
    p {
      margin: auto 0;
      padding: 7px 3px;
      text-transform: uppercase;
      font-size: 12px;
      // border-right: 1px solid #ffffff;
    }
    p:hover {
      color: red;
      // background-color: #ffffff;
      // border-bottom: 1px solid black;
    }
  }
  a:hover {
    text-decoration: none;
    color: red;
  }
}

.nav-header-fixed {
  position: fixed;
  z-index: 400;
  top: 0;
  left: 0;
  right: 0;
}
.top-menu-main {
  background-color: #222222;
  // position: fixed;
  // top: 0;
  // z-index: 300;
}
.bot-menu-main {
  // position: fixed;
  // top: 77px;
  // z-index: 300;
  background-color: #2e2e2e;
}
.menu-main-top {
  // position: fixed;
  // z-index: 200;
  top: 0;
  background-color: #222222;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  .menu-main {
    display: flex;
    .logo-app {
      img {
        width: 100%;
        padding: 5px;
      }
    }
    @include formatLink;
    .menu-item {
      display: flex;
    }
  }
  .search {
    display: flex;
    input {
    }
    .search-icon {
      margin: auto 0;
    }
  }
}
.menu-bot-item {
  background-color: #2e2e2e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include formatLink;
}

.footer-main {
  background-color: #222222;
  .logo-footer {
    text-align: center;
    img {
      width: 15%;
    }
  }
  .footer-mid {
    border-bottom: 2px solid red;
  }
  .footer-bot {
    color: #6e6e6e;
    span.email {
      colo: red;
    }
    .item-text {
      margin: 20px 0;
      p {
        margin: 2px 0;
      }
    }
  }
}

.footer-bot-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  @include formatLink;
}

@media screen and(min-width: 63.9em) {
  .format-margin {
    margin-top: 130px;
  }
  #iconClose {
    display: none;
  }
  .nav-mobile,
  .icon-menu-mobile {
    display: none;
  }
  @mixin formatLink() {
    a {
      color: #ffffff;
      p {
        margin: auto 0;
        padding: 7px 3px;
        text-transform: uppercase;
        font-size: 12px;
        // border-right: 1px solid #ffffff;
      }
      p:hover {
        color: red;
        // background-color: #ffffff;
        // border-bottom: 1px solid black;
      }
    }
    a:hover {
      text-decoration: none;
      color: red;
    }
  }

  .menu-main-top {
    .menu-main {
      .logo-app {
        width: 20%;
        padding: 7px 0;
        img {
          width: 100%;
        }
      }
      @include formatLink;
      .menu-item {
        margin-right: 15px;
      }
    }
    .search {
      input {
        height: 40%;
        width: 200px;
        margin: auto 0;
      }
      .search-icon {
        font-size: 30px;
        margin: auto 0;
        margin-left: 10px;
      }
    }
  }

  .menu-bot-item {
    @include formatLink;
  }
}

@media screen and (max-width: 46.25em) {
    .format-margin {
    margin-top: 60px;
  }
  .footer-bot-item {
    display: none;
  }
  #iconClose {
    display: none;
  }
  @mixin formatLink() {
    a {
      color: #ffffff;
      p {
        margin: auto 0;
        padding: 7px 1px;
        text-transform: uppercase;
        font-size: 5px;
        // border-right: 1px solid #ffffff;
      }
      p:hover {
        color: red;
        // background-color: #ffffff;
        // border-bottom: 1px solid black;
      }
    }
    a:hover {
      text-decoration: none;
      color: red;
    }
  }

  .menu-main-top {
    .menu-main {
      justify-content: space-between;
      .logo-app {
        width: 20%;
        padding: 7px 0;
        img {
          width: 100%;
        }
      }
      @include formatLink;
      .menu-item {
        margin-right: 5px;
      }
    }
    .icon-menu-mobile {
      margin: auto 0;
      font-size: 10px;
    }
    .search {
      display: none;
    }
  }

  .menu-bot-item {
    @include formatLink;
    display: none;
  }

  .nav-mobile {
    transform: translate(100%, 0);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: fixed;
    // width: 50%;
    z-index: 200;
    background-color: #ffffff;
    top: 7%;
    bottom: 0;
    right: 0;
    left: 0;
    // left: 0;
    .exit-icon {
      front-size: 20px;
      padding: 7px;
      margin-bottom: 5px;
      p {
        margin: auto 0;
      }
    }
    .menu-item {
      margin-top: 25px;
      .nav-item {
        display: flex;
        justify-content: space-around;
        margin-bottom: 4%;
        a {
          border: 1px solid #e7e9eb;
          border-radius: 4px;
          width: 45%;
          color: #5a5b5b;
          p {
            background-color: #f4f7f8;
            margin: auto 0;
            padding: 2px 0;
            text-align: center;
            text-transform: uppercase;
            font-size: 5px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 46.25em) and (max-width: 63.9em) {
  .format-margin {
    margin-top: 100px;
  }
  #iconClose {
    display: none;
  }
  @mixin formatLink() {
    a {
      color: #ffffff;
      p {
        margin: auto 0;
        padding: 7px 3px;
        text-transform: uppercase;
        font-size: 12px;
        // border-right: 1px solid #ffffff;
      }
      p:hover {
        color: red;
        // background-color: #ffffff;
        // border-bottom: 1px solid black;
      }
    }
    a:hover {
      text-decoration: none;
      color: red;
    }
  }

  .menu-main-top {
    // background-color:  red;
    .menu-main {
      justify-content: space-between;
      .logo-app {
        width: 20%;
        padding: 7px 0;
        img {
          width: 100%;
        }
      }
      @include formatLink;
      .menu-item {
        margin-right: 15px;
      }
    }
    .icon-menu-mobile {
      //   background-color: yellow;
      margin: auto 0;
      font-size: 25px;
      // padding-left: 30px;
    }
    .search {
      display: none;
      input {
        height: 40%;
        width: 200px;
        margin: auto 0;
      }
      .search-icon {
        font-size: 30px;
        margin: auto 0;
        margin-left: 10px;
      }
    }
  }

  .menu-bot-item {
    @include formatLink;
    display: none;
  }

  .nav-mobile {
    // display: none;
    transform: translate(100%, 0);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: fixed;
    // width: 50%;
    z-index: 250;
    background-color: #ffffff;
    top: 6%;
    bottom: 0;
    right: 0;
    left: 0;
    margin-top: 20px;
    // left: 0;
    .exit-icon {
      front-size: 20px;
      padding: 7px;
      margin-bottom: 5px;
      p {
        margin: auto 0;
      }
    }
    .menu-item {
      margin-top: 20px;
      .nav-item {
        display: flex;
        justify-content: space-around;
        margin-bottom: 4%;
        a {
          border: 1px solid #e7e9eb;
          border-radius: 4px;
          width: 45%;
          color: #5a5b5b;
          p {
            background-color: #f4f7f8;
            margin: auto 0;
            padding: 6px 0;
            text-align: center;
            text-transform: uppercase;
          }
        }
      }
    }
  }
}
